$header-cells-text-color: #fff;
$header-cells-bg-color: #222;
$header-cells-border-color: #fff;
$odd-row-data-cells-bg-color: #e5e5e5;
$even-row-data-cells-bg-color: #f5f5f5;
$data-cells-border-color: #fff;
$results-operation-header-cells-bg-color: #fff;
$win_3_0-color: hsl(136, 33%, 25%);
$win_3_1-color: #a1d07e;
$win_3_2-color: #dfe282;
$loss_2_3-color: #fed280;
$loss_1_3-color: #fb9d75;
$loss_0_3-color: #f8696b;
$non-playable-color: #000000;
$non-playable-text-color: #000000;
