#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 1.0.{build}-{branch}

# GitHub PR related builds do not increment build number
pull_requests:
  do_not_increment_build_number: true


# branches to build
branches:
  only:
    - master
    - Release
    - /^issue_#\d+/

#---------------------------------#
#    environment configuration    #
#---------------------------------#

image: Visual Studio 2019 Preview

cache:
  - packages -> **\packages.config
  - C:\projects\volley-management\.dotnetsdk -> appveyor.yml

install:
  # Download .NET Core 3.0 Preview 7 SDK and add to PATH
  # We need it cause appveyor is on preview 1 right now
- ps: >-
    cd .\build

    .\install-netcore-sdk.ps1

#---------------------------------#
#       build configuration       #
#---------------------------------#
  
build_script:
- ps: >-
    cd .\build

    .\build.ps1

#---------------------------------#
#       tests configuration       #
#---------------------------------#

test: off # should be handled by Cake

#---------------------------------#
#         notifications           #
#---------------------------------#

notifications:
# Regular Slack notification
- provider: Slack
  incoming_webhook: 
    secure: jtHxp04P8ZgVc9mY2zXKJs/yDfE72wGJrqJxpovpjaoabGHAA5FWpsyQFOMn3eauhMX03M71DtukIEXKP7NUKpsmdXROh85iXtkk+8lWX+4=
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: true