# Notes:
#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 1.0.{build}-{branch}

# GitHub PR related builds do not increment build number
pull_requests:
  do_not_increment_build_number: true


# branches to build
branches:
  only:
    - master
    - Release
    - /^issue_#\d+/

#---------------------------------#
#    environment configuration    #
#---------------------------------#

image: Visual Studio 2017

# environment variables
environment:
  SONAR_TOKEN:
    secure: +v6PmDXb6BsEnMx0hJSdUWbBL7Y/VipzkMUgQa1DgmRbl6XVAR0+RgUc7M7Q9G77
  GITHUB_SONAR_PR_TOKEN:
    secure: Yw7T+6L/sj76jLwFSis3fGNkotT3iI99pJhoKdr8ocvW5xdIk/WfjSQb5PoAtryH

cache:
  - packages -> **\packages.config

services:
  - mssql2017

install:
  - npm install -D typescript
#---------------------------------#
#       build configuration       #
#---------------------------------#

build_script:
- ps: >-
    cd .\build

    .\build.ps1  -Verbosity Diagnostic

#---------------------------------#
#       tests configuration       #
#---------------------------------#

test: off # should be handled by Cake

#---------------------------------#
#         notifications           #
#---------------------------------#

notifications:
# Regular Slack notification
- provider: Slack
  incoming_webhook: 
    secure: luby6/6oxEkccvelC2OAWgSoJBO+gLqYVKLwylU1KMYz8Plwycoshmlv2pQJkFZCm4EckYt7AAfL8k7vR70BhM9b26TnBqeuNpmMlF3KZAc=
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: true