<div class="standings-wrapper">

    <p *ngIf="!data"> No Game Results </p>

    <div *ngIf="data"
         class="standings-entry">

        <legend></legend>

        <table class="standings"
               *ngFor="let divisionStandings of data">

            <thead>
                <tr class="header-row">
                    <th colspan="3">На {{ divisionStandings.LastUpdateTime | date:'dd-M-yy H:mm' }}</th>
                    <th colspan="9">Игры</th>
                    <th colspan="3">Сеты</th>
                    <th colspan="3">Мячи</th>
                </tr>
                <tr class="header-row">
                    <th>№</th>
                    <th>Команда</th>
                    <th>Очки</th>
                    <th>Итого</th>
                    <th>Won</th>
                    <th>Lost</th>
                    <th>3:0</th>
                    <th>3:1</th>
                    <th>3:2</th>
                    <th>2:3</th>
                    <th>1:3</th>
                    <th>0:3</th>
                    <th>Won</th>
                    <th>Lost</th>
                    <th>Соот.</th>
                    <th>Won</th>
                    <th>Lost</th>
                    <th>Соот.</th>
                </tr>
            </thead>
            <tbody>
                <tr class="data-row"
                    *ngFor="let entry of divisionStandings.StandingsTable">
                    <td>{{ entry.Position }}</td>
                    <td>{{ entry.TeamName }}</td>
                    <td>{{ entry.Points }}</td>
                    <td>{{ entry.GamesTotal }}</td>
                    <td>{{ entry.GamesWon }}</td>
                    <td>{{ entry.GamesLost }}</td>
                    <td>{{ entry.GamesWithScoreThreeNil }}</td>
                    <td>{{ entry.GamesWithScoreThreeOne }}</td>
                    <td>{{ entry.GamesWithScoreThreeTwo }}</td>
                    <td>{{ entry.GamesWithScoreTwoThree }}</td>
                    <td>{{ entry.GamesWithScoreOneThree }}</td>
                    <td>{{ entry.GamesWithScoreNilThree }}</td>
                    <td>{{ entry.SetsWon }}</td>
                    <td>{{ entry.SetsLost }}</td>
                    <td>{{ entry.SetsRatio | customNumber:'.0-3' }}</td>
                    <td>{{ entry.BallsWon }}</td>
                    <td>{{ entry.BallsLost }}</td>
                    <td>{{ entry.BallsRatio | customNumber:'.0-3' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>