<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tesaurus-001-site1.dtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://tesaurus-001-site1.dtempurl.com:8172/msdeploy.axd?site=tesaurus-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>tesaurus-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\tesaurus-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VolleyManagementEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5028.SmarterASP.NET;Initial Catalog=DB_A15169_VolleyManagement;User ID=DB_A15169_VolleyManagement_admin;Password=P8rdyBxK" Name="Data Source=SQL5028.SmarterASP.NET;Initial Catalog=DB_A15169_VolleyManagement;User Id=DB_A15169_VolleyManagement_admin;Password=P8rdyBxK" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="VolleyManagement.Data.MsSql.Context.VolleyManagementEntities, VolleyManagement.Data.MsSql" MigrationConfiguration="VolleyManagement.Data.MsSql.Context.Migrations.VolleyContextConfiguration, VolleyManagement.Data.MsSql" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VolleyManagementEntities-Web.config Connection String">
      <ParameterValue>Data Source=SQL5028.SmarterASP.NET;Initial Catalog=DB_A15169_VolleyManagement;User Id=DB_A15169_VolleyManagement_admin;Password=P8rdyBxK</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>