@model VolleyManagement.UI.Areas.Mvc.ViewModels.Account.AuthenticationStatusViewModel

@if (Model.IsAuthenticated)
{
    <span>Hi,@Html.ActionLink(@Model.UserName, "Details", "Account") </span>
    @Html.ActionLink("Log Out", "Logout", new { returnUrl = Model.ReturnUrl })
}
else
{
    @Html.ActionLink("Log In", "Login", new { returnUrl = Model.ReturnUrl })
}
