<div class="vm-loader"
     *ngIf="visible">

  <div class="loader-container"
       [style.height]="height + 'px'"
       *ngIf="isCss3Supported; else css3NotSupportedBlock">

    <div class='loader'>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
    </div>

  </div>

  <ng-template #css3NotSupportedBlock>
    <div class="alt-message-wrapper"
         [style.height]="height + 'px'">
      <div class="message">Loading Data...</div>
    </div>
  </ng-template>

</div>