.vm-loader {
  position: relative;
  .loader {
    position: absolute;
    width: 100%;
  }
  .alt-message-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    .message {
      margin-top: 20%;
      font-size: 24px;
      text-align: center;
      color: white;
    }
  }
}
