@using VolleyManagement.UI.Areas.Mvc;
@model IEnumerable<VolleyManagement.Domain.Teams.Team>

@{
    ViewBag.Title = "Teams";
}

<h2>List of teams</h2>

<p>
    @Html.ActionLink(Resources.TeamViews.Create, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink(Resources.TeamViews.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
