<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Volley Management</title>
        <link href="~/Content/SampleCss.css" rel="stylesheet" />
        
        <script src="~/Scripts/js/lib/mediator.js"></script>
        <script src="~/Scripts/js/lib/jquery.js"></script>
        <script src="~/Scripts/js/lib/jquery-ajaxsetup.js"></script>
        
        
        <script src="~/Scripts/js/lib/underscore.js"></script>
        <script src="~/Scripts/js/lib/backbone.js"></script>
        <script src="~/Scripts/js/lib/backbone-odata.js"></script>
        <script src="~/Scripts/js/lib/backbone-parse.js"></script>
        <script src="~/Scripts/js/lib/backbone-modelbinder.js"></script>
        <script src="~/Scripts/js/main.js"></script>

        <script src="~/Scripts/js/app/Tournaments/TournamentRouter.js"></script>
        
        <script src="~/Scripts/js/app/Messenger/tpl/NoticeTpl.js"></script>
        <script src="~/Scripts/js/app/Messenger/tpl/HintTpl.js"></script>
        <script src="~/Scripts/js/app/Messenger/tpl/PopupTpl.js"></script>
        
        <script src="~/Scripts/js/app/Messenger/view/NoticeView.js"></script>
        <script src="~/Scripts/js/app/Messenger/view/HintView.js"></script>
        <script src="~/Scripts/js/app/Messenger/view/PopupView.js"></script>

        <script src="~/Scripts/js/app/Messenger/Controller.js"></script>

        <script src="~/Scripts/js/app/Tournaments/Tournament.js"></script>
        <script src="~/Scripts/js/app/Tournaments/TournamentCollection.js"></script>
        
        <script src="~/Scripts/js/app/Tournaments/tpl/EditTournamentTpl.js"></script>
        <script src="~/Scripts/js/app/Tournaments/tpl/TournamentCollectionTpl.js"></script>
        <script src="~/Scripts/js/app/Tournaments/tpl/TournamentHomepageTpl.js"></script>
        <script src="~/Scripts/js/app/Tournaments/tpl/TournamentTpl.js"></script>

        <script src="~/Scripts/js/app/Tournaments/view/CreateEditTournamentView.js"></script>
        <script src="~/Scripts/js/app/Tournaments/view/TournamentCollectionView.js"></script>
        <script src="~/Scripts/js/app/Tournaments/view/TournamentHomepageView.js"></script>
        <script src="~/Scripts/js/app/Tournaments/view/TournamentView.js"></script>

        <script src="~/Scripts/js/app/Tournaments/Controller.js"></script>
        

        <link href="~/Scripts/css/lib/bootstrap-theme.css" rel="stylesheet" />
        <link href="~/Scripts/css/lib/bootstrap.css" rel="stylesheet" />
        <link href="~/Scripts/css/app/Messenger/Hint.css" rel="stylesheet" />
        <link href="~/Scripts/css/app/Messenger/Notice.css" rel="stylesheet" />
        <link href="~/Scripts/css/app/Messenger/Popup.css" rel="stylesheet" />
        <link href="~/Scripts/css/app/Tournaments/Tournament.css" rel="stylesheet" />
        <link href="~/Scripts/css/app/Tournaments/TournamentCollection.css" rel="stylesheet" />
        <link href="~/Scripts/css/app/Tournaments/TournamentHomepage.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div id="messenger"></div>
                    <div id="tournaments"></div>
                </div>
            </div>
        </div>

        <div id="popup"></div>
        <div id="body">
                @RenderBody()
        </div>
    </body>
</html>
