@using VolleyManagement.UI.Areas.Mvc.ViewModels.Tournaments;
@model TournamentsCollectionsViewModel

@{
    ViewBag.Title = Resources.TournamentViews.TournamentsIndexTitle;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink(Resources.TournamentViews.CreateNewTournament, "Create")
</p>
<div>
    @{Html.RenderPartial("TournamentsList", Model.CurrentTournaments);}
</div>
<div>
    @{Html.RenderPartial("TournamentsList", Model.ExpectedTournaments);}
</div>

