@using VolleyManagement.UI.Areas.Mvc.ViewModels.Tournaments;
@model TournamentsCollectionsViewModel

@{
    ViewBag.Title = Resources.TournamentViews.TournamentsIndexTitle;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink(Resources.TournamentViews.CreateNewTournament, "Create")
</p>
<p>
    @{ViewBag.Header = Resources.TournamentViews.CurrentTournamentsHeader;}
    @{Html.RenderPartial("TournamentsList", Model.CurrentTournaments);}
</p>
<p>
    @{ViewBag.Header = Resources.TournamentViews.ExpectedTournamentsHeader;}
    @{Html.RenderPartial("TournamentsList", Model.ExpectedTournaments);}
</p>

