@using VolleyManagement.UI.Areas.Mvc.ViewModels.Tournaments;
@model TournamentsCollectionsViewModel

@{
    ViewBag.Title = Resources.TournamentViews.TournamentsIndexTitle;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink(Resources.TournamentViews.CreateNewTournament, "Create")
</p>
<p>
    <h3>
        @Resources.TournamentViews.CurrentTournamentsHeader
    </h3>    
    @{Html.RenderPartial("TournamentsList", Model.CurrentTournaments);}
</p>
<p>
    <h3>
        @Resources.TournamentViews.UpcomingTournamentsHeader
    </h3>
    @{Html.RenderPartial("TournamentsList", Model.UpcomingTournaments);}
</p>

