@model ICollection<VolleyManagement.Domain.Tournaments.Tournament>

<table>
    <thead>
        <tr>
            <td>
                @Html.LabelFor(Model.Name);
            </td>
        </tr>
    </thead>
    <tr>
        <td>

        </td>
    </tr>
</table>