@model IEnumerable<VolleyManagement.UI.Areas.Mvc.ViewModels.ContributorsTeam.ContributorsTeamViewModel>
@{
    ViewBag.Title = "Contributors";
}

<h2>@ViewBag.Title</h2>

@foreach (var team in Model)
{
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">@team.Name</h3>
      </div>
      <div class="panel-body row">       
            @foreach (var item in team.Contributors)
            {
                <div class="col-md-4 col-sm-6">@item.Name</div>
            }
      </div>
    </div>
}
