tr.results-header-row, tr.standings-header-row {
  background-color: #222;
  color: #fff;
  font-weight: bold;
}

th.results-header-cell, th.standings-header-cell {
  padding: 3px 5px;
  border: 1px solid #fff;
  text-align: center;
}

th.results-operation-header-cell {
  border: none;
  background-color: #fff;
}

tr.results-row:nth-child(odd), tr.standings-row:nth-child(odd) {
  background-color: #e5e5e5;
}

tr.results-row:nth-child(even), tr.standings-row:nth-child(even) {
  background-color: #f5f5f5;
}

td.results-cell, td.standings-cell {
  padding: 3px 5px;
  border: 1px solid #fff;
  text-align: center;
  vertical-align: middle;
}

table.standings {
  margin: 0 0 20px 0;
  font-size: 13px;
}

.win_3_0 {
  background-color: #2b5536;
  margin: 0;
}

.win_3_1 {
  background-color: #a1d07e;
  margin: 0;
}

.win_3_2 {
  background-color: #dfe282;
  padding: 0;
}

.loss_2_3 {
  background-color: #fed280;
  margin: 0;
}

.loss_1_3 {
  background-color: #fb9d75;
  margin: 0;
}

.loss_0_3 {
  background-color: #f8696b;
  margin: 0;
}

.non-playable  {
  background-color: #000000;
  color: #000000;
  margin: 0;
}