<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net47" developmentDependency="true" />
  <package id="SonarAnalyzer.CSharp" version="7.0.1.4822" targetFramework="net47" developmentDependency="true" />
</packages>