@model VolleyManagement.UI.Areas.Admin.Models.OperationResultViewModel

@{
    ViewBag.Title = @Model.Message;
}

<h2>@Model.Message</h2>

<div>
    <button id="feedback-return" class="btn btn-default">@Resources.FeedbackViews.Return</button>
</div>