<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Volley Management</title>
        <link href="~/Content/SampleCss.css" rel="stylesheet" />
        <script src="~/Scripts/SampleScript.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div id="messenger"></div>
                    <div id="tournaments"></div>
                </div>
            </div>
        </div>

        <div id="popup"></div>
        <div id="body">
                @RenderBody()
        </div>
    </body>
</html>
