
@{
    ViewBag.Title = "Index";
}

<h2>MVC Home</h2>
<<<<<<< HEAD

@Html.ActionLink(Resources.TournamentViews.TournamentsIndexTitle, "Index", "Tournaments")
<br>
@Html.ActionLink(Resources.PlayerViews.PlayersIndexTitle, "Index", "Players")
<br>
@Html.ActionLink("Разработчики", "Index", "ContributorsTeam")
=======
>>>>>>> master
