.schedule-wrapper {
  /* VARIABLES */
  $schedule-table-text-color: black;
  $header-bg-color: #DDEBF7;
  $group2-bg-color: #70AD47;
  $group-date-bg-color: #C6E0B4;
  $game-schedule-border-color: #E8E8E8;
  /* STYLES */
  .schedule-table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $schedule-table-text-color;
    width: 280px;
    float: none;
    clear: both;
    .headercenter {
      margin: 0;
      font-size: 11pt;
      background-color: $header-bg-color;
      vertical-align: middle;
      text-align: center;
      font-style: normal;
      font-weight: normal;
    }
    .group-data {
      width: 280px;
      float: left;
      font-size: 11pt;
      background-color: $group2-bg-color;
      .group-date {
        margin: 0px;
        text-align: center;
        font-size: 9pt;
        background-color: $group-date-bg-color;
      }
    }
    .games {
      .game-sch {
        width: 100%;
        border-spacing: 0px;
        border-collapse: collapse;
        table-layout: fixed;
        empty-cells: hide;
        border: 1px solid $game-schedule-border-color;
        th,
        td {
          border: none;
        }
        .win {
          font-weight: bold;
        }
        .teamname {
          padding-left: 5px;
        }
        .teamscore {
          text-align: center;
        }
        .sets {
          td {
            font-size: 8pt;
            text-align: center;
            &.game-time {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
