.schedule-wrapper {
  /* VARIABLES */
  $schedule-table-text-color: black;
  $header-bg-color: #DDEBF7;
  $group1-bg-color: #4472C4;
  $group2-bg-color: #70AD47;
  $group3-bg-color: #581058;
  $group4-bg-color: #452570;
  $group5-bg-color: #1d1d65;
  $group6-bg-color: #114457;
  $group7-bg-color: #106138;
  $group8-bg-color: #448b00;
  $group9-bg-color: #7d9500;
  $group10-bg-color: #877a00;
  $group11-bg-color: #c29800;
  $group12-bg-color: #a36d00;
  $group13-bg-color: #a34b00;
  $group14-bg-color: #bd3800;
  $group15-bg-color: #bb0005;
  $group16-bg-color: #9c0037;
  $group1-date-bg-color: #B4C6E7;
  $group2-date-bg-color: #C6E0B4;
  $group3-date-bg-color: #9d5e9d;
  $group4-date-bg-color: #8268a3;
  $group5-date-bg-color: #8e8eba;
  $group6-date-bg-color: #7c9da9;
  $group7-date-bg-color: #68ab89;
  $group8-date-bg-color: #afda86;
  $group9-date-bg-color: #e5f885;
  $group10-date-bg-color: #fff489;
  $group11-date-bg-color: #ffde6a;
  $group12-date-bg-color: #ffcd6a;
  $group13-date-bg-color: #ffb574;
  $group14-date-bg-color: #ff9e74;
  $group15-date-bg-color: #fd7478;
  $group16-date-bg-color: #ea6b98;
  $game-schedule-border-color: #E8E8E8;
  $game-hover-bg-color: #009933;
  /* STYLES */
  .schedule-table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $schedule-table-text-color;
    width: 100%;
    float: none;
    clear: both;
    white-space: nowrap;
    overflow-x: auto; 
    .day {
      width: 280px;
      display: inline-block;
    }
    .headercenter {
      margin: 0;
      font-size: 11pt;
      background-color: $header-bg-color;
      vertical-align: middle;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      width: 280px;
    }

    .group-data {
      width: 280px;
      float: left;
      font-size: 11pt;
      .group-date {
        margin: 0px;
        text-align: center;
        font-size: 9pt;
        &.group-date-group2 {
          background-color: $group2-date-bg-color;
        }
        &.group-date-group1 {
          background-color: $group1-date-bg-color;
        }
      }
    }
    .games {
      .game-sch {
        width: 100%;
        border-spacing: 0px;
        border-collapse: collapse;
        table-layout: fixed;
        empty-cells: hide;
        border: 1px solid $game-schedule-border-color;
        &.group1 {
          background-color: $group1-bg-color;
        }
        &.group2 {
          background-color: $group2-bg-color;
        }
        &.group3 {
          background-color: $group3-bg-color;
        }
        &.group4 {
          background-color: $group4-bg-color;
        } 
        &.group5 {
          background-color: $group5-bg-color;
        }
        &.group6 {
          background-color: $group6-bg-color;
        }
        &.group7 {
          background-color: $group7-bg-color;
        }
        &.group8 {
          background-color: $group8-bg-color;
        } 
        &.group9 {
          background-color: $group9-bg-color;
        }
        &.group10 {
          background-color: $group10-bg-color;
        }
        &.group11 {
          background-color: $group11-bg-color;
        }
        &.group12 {
          background-color: $group12-bg-color;
        } 
        &.group13 {
          background-color: $group13-bg-color;
        }
        &.group14 {
          background-color: $group14-bg-color;
        }
        &.group15 {
          background-color: $group15-bg-color;
        }
        &.group16 {
          background-color: $group16-bg-color;
        } 
        &:hover {
          background-color: $game-hover-bg-color;
        }
        th,
        td {
          border: none;
        }
        .win {
          font-weight: bold;
        }
        .teamname {
          padding-left: 5px;
        }
        .teamscore {
          text-align: center;
        }
        .sets {
          td {
            font-size: 8pt;
            text-align: center;
            &.game-time {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
