<div class="schedule-table" *ngFor="let gameResultByRounds of gameResults; let i = index;">
  <div *ngIf="gameResultByRounds">
    <p class="headercenter">Тур {{gameResultByRounds.Round}}</p>
    <div class="group group2">
      <!-- <p class="groupHeader">II группа</p>
    <p class="groupDate">Суббота</p>
    <p class="groupDate">19 ноября 2016</p> -->
      <div>
        <div class="games" *ngFor="let gameResult of gameResultByRounds.GameResults;">
          <table class="game-sch">
            <tbody *ngIf="!gameResult.AwayTeamName">
              <tr class="team-sch">
                <strong>{{gameResult.HomeTeamName}}</strong>
              </tr>
              <tr class="team-sch">
                Day Off
              </tr>
            </tbody>
          </table>
          <table class="game-sch" *ngIf="gameResult.AwayTeamName">
            <tbody *ngIf="gameResult.IsGameWasPlayedAndHasResult">
              <tr class="team-sch" [class.win]="gameResult.Result.TotalScore.Home > gameResult.Result.TotalScore.Away">
                <td class="teamname" colspan="5">
                  {{gameResult.HomeTeamName}}
                </td>
                <td class="teamscore">
                  {{gameResult.Result.TotalScore.Home}}
                </td>
              </tr>
              <tr class="team-sch" [class.win]="gameResult.Result.TotalScore.Home < gameResult.Result.TotalScore.Away">
                <td class="teamname" colspan="5">
                  {{gameResult.AwayTeamName}}
                </td>
                <td class="teamscore">
                  {{gameResult.Result.TotalScore.Away}}
                </td>
              </tr>
              <tr class="sets" *ngIf="gameResult.Result && gameResult.Result.IsTechnicalDefeat">
                <td class="set">
                  <div>
                    <span>техн.</span>
                  </div>
                </td>
                <td class="set">
                  <div>
                    <span>техн.</span>
                  </div>
                </td>
                <td class="set">
                  <div>
                    <span>техн.</span>
                  </div>
                </td>
                <td class="set">
                  <div class="hidden">
                  </div>
                </td>
                <td class="set">
                  <div class="hidden">
                  </div>
                </td>
                <td>
                  <div class="gameTime">техн.</div>
                </td>
              </tr>

              <tr class="sets" *ngIf="gameResult.Result && !gameResult.Result.TotalScore.IsEmpty">
                <td class="set" *ngFor="let setScore of gameResult.Result.SetScores">
                  <div class="" *ngIf="!setScore.IsEmpty; else noSetScore">
                    <span>{{setScore.Home}}</span>:<span>{{setScore.Away}}</span>
                  </div>
                  <ng-template #noSetScore>
                    <div class="hidden">
                    </div>
                  </ng-template>
                </td>
                <td>
                  <div class="gameTime"></div>
                </td>
              </tr>
            </tbody>

            <tbody *ngIf="!gameResult.Result || (gameResult.Result.TotalScore.IsEmpty && !gameResult.Result.IsTechnicalDefeat)">
              <tr class="team-sch">
                <td class="teamname">
                  {{gameResult.HomeTeamName}}
                </td>
              </tr>
              <tr class="team-sch">
                <td class="teamname">
                  {{gameResult.AwayTeamName}}
                </td>
              </tr>
              <tr>
                <td>
                  {{gameResult.GameDate}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
