.group-logo {
    width:100%;
    margin-top: 10px;
}

.list-group-container {
    margin:0px;
    margin-top: -20px;
    background-color:#f2f1ee;
}

.group-container {
    margin-top: 10px;
    margin-left: 4%;
}
.group-info-container {
    overflow: hidden;
}