.standings-wrapper {
  /* VARIABLES */
  @import "../standings-color-schema.scss";
  /* STYLES */
  .standings {
    margin: 0 0 20px 0;
    font-size: 13px;
    .header-row {
      background-color: $header-cells-bg-color;
      color: $header-cells-text-color;
      font-weight: bold;
      th {
        padding: 3px 5px;
        border: 1px solid $header-cells-border-color;
        text-align: center;
      }
    }
    .data-row {
      &:nth-child(odd) {
        background-color: $odd-row-data-cells-bg-color;
      }
      &:nth-child(even) {
        background-color: $even-row-data-cells-bg-color;
      }
      td {
        padding: 3px 5px;
        border: 1px solid $data-cells-border-color;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}
