@{
    ViewBag.Title = "Volley Managemnt";
}

<h2>Index</h2>
<li>@Html.ActionLink("MVC", "Index", "Tournaments", new { area = "Mvc" }, new { })</li>

<li>@Html.ActionLink("Web API", "Index", new { area = "WebApi" })</li>