<div class="pivot-standings-wrapper">

  <p *ngIf="!pivotStandings">No tournament table</p>

  <div *ngIf="pivotStandings && pivotTable"
       class="pivot-standings">

    <table class="standings"
           *ngFor="let pivotStand of pivotStandings;let k = index;">
      <thead>
        <tr class="header-row">
          <th colspan="2">На {{ pivotStand.LastUpdateTime | date:'dd-M-yy H:mm' }}</th>

          <th class="vertical-text"
              *ngFor="let team of pivotStand?.TeamsStandings">{{ team.TeamName }}</th>

          <th>Очки</th>
      </thead>

      <tbody>
        <tr class="data-row"
            *ngFor="let teamStandings of pivotStand?.TeamsStandings; let i = index;">

          <td>{{ teamStandings.Position }}</td>
          <td>{{ teamStandings.TeamName }}</td>

          <td [vmGameResultCell]="pivotTable[k][i][j]?.Results[0]"
              *ngFor="let teamStandingsColumn of pivotStand?.TeamsStandings; let j = index;">

            <div *ngFor="let gameResult of pivotTable[k][i][j]?.Results">
              {{ getFormattedResult(gameResult) }}
            </div>

          </td>

          <td>
            <div class="bold-text">
              {{ teamStandings.Points }}
            </div>
            <div>
              ({{ teamStandings.SetsRatio | customNumber:'.0-3' }})
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>