<div *ngIf="pivotStandings">
  <div *ngIf="!pivotStandings">
    <p> No tournament table</p>
  </div>
  <table class="standings" *ngIf="pivotStandings">
    <thead>
      <tr class="standings-header-row">
        <th colspan="2" class="standings-header-cell">N/A</th>
        <th class="standings-header-cell" *ngFor="let item of pivotStandings?.TeamsStandings">{{item.TeamName}}</th>
        <th class="standings-header-cell">Points</th>
    </thead>
    <tbody>
      <tr class="standings-row" *ngFor="let item of pivotStandings?.TeamsStandings; let i = index;">
        <td class="standings-cell">{{i+1}}</td>
        <td class="standings-cell">{{item.TeamName}}</td>
        <td class="standings-cell {{pivotTable[i][j]?.Results[0].CssClass}}" *ngFor="let item of pivotStandings?.TeamsStandings; let j = index;">
          <div *ngFor="let item of pivotTable[i][j]?.Results">{{item.FormattedResult}}</div>
        </td>
        <td class="standings-cell">
          <div class="boldText">
            {{item.Points}}
          </div>
          <div>
            ({{item.SetsRatio | number:'.0-3'}})
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>