.pivot-standings-wrapper {
  /* VARIABLES */
  @import "../standings-color-schema.scss"; // $header-cells-text-color: #fff;
  /* STYLES */
  .pivot-standings {
    .standings {
      margin: 30px 0 20px 0;
      font-size: 12px;
      .header-row {
        background-color: $header-cells-bg-color;
        color: $header-cells-text-color;
        font-weight: bold;
        th {
          text-align: center;
          max-width: 30px;
          height: 145px;
        }
      }
      .data-row {
        &:nth-child(odd) {
          background-color: $odd-row-data-cells-bg-color;
        }
        &:nth-child(even) {
          background-color: $even-row-data-cells-bg-color;
        }
        td {
          text-align: center;
          vertical-align: middle;
        }
      }
      .win_3_0 {
        background-color: $win-3-0-color;
        color: $win_3_0-text-color;
        margin: 0;
      }
      .win_3_1 {
        background-color: $win_3_1-color;
        margin: 0;
      }
      .win_3_2 {
        background-color: $win_3_2-color;
        padding: 0;
      }
      .loss_2_3 {
        background-color: $loss_2_3-color;
        margin: 0;
      }
      .loss_1_3 {
        background-color: $loss_1_3-color;
        margin: 0;
      }
      .loss_0_3 {
        background-color: $loss_0_3-color;
        margin: 0;
      }
      .non-playable {
        background-color: $non-playable-color;
        color: $non-playable-text-color;
        margin: 0;
      }
      .vertical-text {
        transform: rotate(-90deg) translate(-55px);
        text-align: left;
        padding: 1px;
        white-space: nowrap;
      }
    }
  }
}
