
@{
    ViewBag.Title = @Resources.FeedbackViews.FeedbackSent;
}

<h2>@Resources.FeedbackViews.SuccessfulSent</h2>

<div>
    <button id="feedback-return" class="btn btn-default">@Resources.FeedbackViews.Return</button>
</div>

@Scripts.Render("~/bundles/feedbackscripts")