<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net47" />
  <package id="Moq" version="4.8.2" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net47" />
  <package id="Respawn" version="3.0.1" targetFramework="net47" />
  <package id="SonarAnalyzer.CSharp" version="7.0.0.4787" targetFramework="net47" developmentDependency="true" />
  <package id="SpecFlow" version="2.3.1" targetFramework="net47" />
  <package id="SpecFlow.xUnit" version="2.3.1" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net47" />
  <package id="xunit" version="2.0.0" targetFramework="net47" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net47" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net47" />
  <package id="xunit.core" version="2.0.0" targetFramework="net47" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net47" />
</packages>