@using VolleyManagement.UI.Areas.Mvc.ViewModels.Menu

@model IEnumerable<MenuItemViewModel>

@foreach (var item in Model)
{
    <li>
        @Html.ActionLink(item.Name, item.Action, item.Controller, null,
        new { @class = item.IsCurrent ? "active" : string.Empty })
    </li>   
}