<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Volley Management</title>

    <link rel="stylesheet" href="~/Content/styles.css?rev=1429869089527">

    <script src="~/Scripts/scripts.js?rev=1429869089527"></script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div id="menu" class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div id="messenger"></div>
                <div id="main"></div>
            </div>
        </div>
    </div>

    <div id="popup"></div>
    <div id="tooltip"></div>
    <div id="loadingScreen"></div>

    <div id="body">
        @RenderBody()
    </div>
</body>
</html>