<div class="schedule-wrapper">
  <div class="schedule-table" *ngFor="let weeks of data.Schedule">
    <div *ngIf="weeks">

      <div class="day" *ngFor="let day of weeks.Days">
        <p class="headercenter">{{day.Date | date: "dd-MM-yyyy"}}</p>
        <p class="headercenter {{getDivisionAccentColor(division.Id)}}" *ngFor="let division of day.Divisions">{{getDivisionsHeaderText(division)}}</p>

        <div>
          <div class="games" *ngFor="let gameResult of day.Games;">
            <table class="game-sch {{getDivisionAccentColor(gameResult.DivisionId)}}" [class.non-free-day]="!isFreeDayVisible(gameResult)">
              <tr>
                <!--First column: Game Number, video, etc-->
                <td rowspan="3" class="info-column">
                  <div *ngIf="isGameNumberVisible(gameResult)">#{{ gameResult.GameNumber }}</div>
                  <div *ngIf="isVideoLinkVisible(gameResult)" class="videoIconCell">
                    <a href="{{gameResult.UrlToGameVideo}}" title="Перейти к видео" class="videoLinkIcon">
                      📹
                    </a>
                  </div>
                </td>

                <!--Main content: Team names, results-->

                <td class="teamname" colspan="5" [class.win]="isHomeWinner(gameResult)">
                  {{gameResult.HomeTeamName}}
                </td>
                <td class="teamscore" *ngIf="isGameResultVisible(gameResult)" [class.win]="isHomeWinner(gameResult)">
                  {{gameResult.Result.TotalScore.Home}}
                </td>

                <!--Right column: score, date, free day-->
                <td *ngIf="isGameDateVisible(gameResult)" rowspan="2">
                  {{gameResult.GameDate| localDate | date: 'HH:mm'}}
                </td>
                <td *ngIf="isFreeDayVisible(gameResult)">
                  вых.
                </td>
              </tr>

              <tr>
                <td class="teamname" colspan="5" [class.win]="isAwayWinner(gameResult)">
                  {{gameResult.AwayTeamName}}
                </td>
                <td class="teamscore" *ngIf="isGameResultVisible(gameResult)" [class.win]="isAwayWinner(gameResult)">
                  {{gameResult.Result.TotalScore.Away}}
                </td>

                <tr class="sets">
                  <ng-template [ngIf]="isGameResultVisible(gameResult)">
                    <td class="set" *ngFor="let setScore of gameResult.Result.SetScores">

                      <ng-template [ngIf]="!setScore.IsEmpty && !gameResult.Result.IsTechnicalDefeat">
                        <div>
                          {{setScore.Home}} : {{setScore.Away}}
                        </div>
                      </ng-template>

                      <ng-template [ngIf]="!setScore.IsEmpty && gameResult.Result.IsTechnicalDefeat">
                        <div>
                          <span>техн.</span>
                        </div>
                      </ng-template>

                      <ng-template [ngIf]="setScore.IsEmpty">
                        <div class="hidden"></div>
                      </ng-template>

                    </td>

                    <td>
                      <div class="game-time">{{getGameTotalBallsScore(gameResult.Result)}}</div>
                    </td>
                  </ng-template>
                  <!--If no result place ampty tds to avoid issues with table rendering-->
                  <ng-template [ngIf]="!isGameResultVisible(gameResult)">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </ng-template>

                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
